@import url('https://rsms.me/inter/inter.css');
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Inter';
}
@supports (font-variation-settings: normal) {
  html {
    font-family: -apple-system, BlinkMacSystemFont, 'Inter var';
  }
}
body {
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 768px) {
  html,
  body {
    margin-left: 5px !important;
    margin-right: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
body {
  /* margin-top: 25px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px; */
  animation: fadeIn 1s;
  min-height: 50vh;
}

.flex {
  
}

#word-cloud {
  margin-top: 200px;
}
